{% extends "statdisplay/base.html" %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<div class="container">
    <form method="GET">
        {{ form }}
        <input type="submit" value="Submit">
    </form>    
    {% if player1 and player2 %}
    {% if player1 == player2 %}
    <h2>Don't compare someone to themselves!</h2>
    {% else %}
    <h2>{{player1.user_name}} and {{player2.user_name}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{player1.user_name}}</th>
                <th>{{player2.user_name}}</th>
                <th>Draw</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Games</th>
                <td>{{win1}}</td>
                <td>{{win2}}</td>
                <td>{{draws}}</td>
                <td>{{total}}</td>
            </tr>
            <tr>
                <th scope="row">%</th>
                <td>{{win1p}}</td>
                <td>{{win2p}}</td>
                <td>{{drawsp}}</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
    <h2>Games</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Game ID</th>
                <th>White</th>
                <th>Black</th>
                <th>Winner</th>
                <th>Date Finished</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr class="clickable-link" data-href={% url "games" game.game_id %}>
                <td>{{game.game_id}}</td>
                <td>{{game.player_white.user_name}}</td>
                <td>{{game.player_black.user_name}}</td>
                {% if game.winner_id == 0 %}
                <td>Draw</td>
                {% elif game.winner_id == 1 %}
                <td>{{game.player_white.user_name}}</td>
                {% elif game.winner_id == 2 %}
                <td>{{game.player_black.user_name}}</td>
                {% endif %}
                <td>{{game.date_finished}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "statdisplay/pagination.html" with list=games %}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
