{% extends "statdisplay/base.html" %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<div class="container">
    <form method="GET">
        {{ form }}
        <input type="submit" value="Submit">
    </form>    
    {% if player1 and player2 %}
    {% if player1 == player2 %}
    <h2>Don't compare someone to themselves!</h2>
    {% else %}
    <h2>{{player1.user_name}}</h2>
    <h2>{{player2.user_name}}</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>{{player1.user_name}}</th>
                <th>{{player2.user_name}}</th>
                <th>Draw</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Games</th>
                <td>{{win1}}</td>
                <td>{{win2}}</td>
                <td>{{draws}}</td>
                <td>{{total}}</td>
            </tr>
            <tr>
                <th scope="row">%</th>
                <td>{{win1p}}</td>
                <td>{{win2p}}</td>
                <td>{{drawsp}}</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
