{% load stat_tags %}
<ul class="pagination">
    {% if list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1{{ request.GET|pagination_params }}">&laquo; First</a>
    </li>
    {% if list.number > 3 %}

    {% elif list.number > 2 %}

    {% endif %}
    <li class="page-item">
        <a href="?page={{ list.previous_page_number }}{{ request.GET|pagination_params }}">{{ list.previous_page_number }}</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" href="#">&laquo; First</a>
    </li>
    {% endif %}

    <li class="page-item active"><a class="page-link" href="#">{{ list.number }}</a></li>

    {% if list.has_next %}
    <li class="page-item">
        <a href="?page={{ list.next_page_number }}{{ request.GET|pagination_params }}">{{ list.next_page_number }}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ list.paginator.num_pages }}{{ request.GET|pagination_params }}">Last &raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" href="#">Last &raquo;</a>
    </li>
    {% endif %}
</ul>

