{% load stat_tags %}
<ul class="pagination">
    {% if list.has_previous %}
    <li class="page-item">
        <a class="page-link" title="First Page" href="?page=1{{ request.GET|pagination_params }}">&laquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" title="Previous Page" href="?page={{ list.previous_page_number }}{{ request.GET|pagination_params }}">&lsaquo;</a>
    </li>
    {% if list.number != 2 %}
    <li class="page-item"><a class="page-link" href="?page=1{{ request.GET|pagination_params }}">1</a></li>
    {% endif %}
    <li class="page-item">
        <a class="page-link" href="?page={{ list.previous_page_number }}{{ request.GET|pagination_params }}">{{ list.previous_page_number }}</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" title="First Page" tabindex="-1" href="#">&laquo;</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" title="Previous Page" tabindex="-1" href="#">&lsaquo;</a>
    </li>
    {% endif %} 

    <li class="page-item active"><a class="page-link" href="#">{{ list.number }}</a></li>

    {% if list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ list.next_page_number }}{{ request.GET|pagination_params }}">{{ list.next_page_number }}</a>
    </li>
    {% endif %}

    {% if list.number != list.paginator.num_pages and list.number != list.paginator.num_pages|add:-1 %}
    <li class="page-item">
        <a class="page-link" href="?page={{ list.paginator.num_pages }}{{ request.GET|pagination_params }}">{{ list.paginator.num_pages }}</a>
    </li>
    {% endif %}

    {% if list.has_next %}
    <li class="page-item">
        <a class="page-link" title="Next Page" href="?page={{ list.next_page_number }}{{ request.GET|pagination_params }}">&rsaquo;</a>
    </li>
    <li class="page-item">
        <a class="page-link" title="Last Page" href="?page={{ list.paginator.num_pages }}{{ request.GET|pagination_params }}">&raquo;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" title="Next Page" tabindex="-1" href="#">&rsaquo;</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" title="Last Page" tabindex="-1" href="#">&raquo;</a>
    </li>
    {% endif %}
</ul>

