{% extends "statdisplay/base.html" %}

{% block content %}

{% if player %}
    <div class="container">
        <h1>{{player.user_name}}</h1>
        {% if player.first_name != "placeholder" and player.last_name != "placeholder" %}
        <h3>{{player.first_name}} {{player.last_name}}</h3>
        {% endif %}
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>White</th>
                    <th>Black</th>
                    <th>Winner</th>
                    <th>Date Finished</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr class="clickable-link" data-href={% url "games" game.game_id %}>
                    <td>{{game.game_id}}</td>
                    <td>{{game.player_white.user_name}}</td>
                    <td>{{game.player_black.user_name}}</td>
                    {% if game.winner_id == 0 %}
                    <td>Draw</td>
                    {% elif game.winner_id == 1 %}
                    <td>{{game.player_white.user_name}}</td>
                    {% elif game.winner_id == 2 %}
                    <td>{{game.player_black.user_name}}</td>
                    {% endif %}
                    <td>{{game.date_finished}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "statdisplay/pagination.html" with list=games %}
    </div>
{% endif %}
{% endblock %}
